<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width; initial-scale=1.0;  minimum-scale=1.0; maximum-scale=1.0"/>
<meta name="MobileOptimized" content="320"/>
<title>排行榜</title>
<link href="../../../css/bootstrap.min.css"  rel="stylesheet" type="text/css"  />
<link href="../../../css/index.css"  rel="stylesheet" type="text/css"  />
<link href="../../../css/public.css"  rel="stylesheet" type="text/css"  />
<script type="text/javascript" src="../../../script/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../../script/tool/fastclick/fastclick.js"></script>
<script type="text/javascript" src="../../../script//api.js"></script>
<script type="text/javascript" src="../../../script/common/common.js"></script>
<script type="text/javascript" src="../../../script/common/path.js"></script>
<script type="text/javascript" src="../../../script/tool/vue/vue.min.js"></script>

<script type="text/javascript" src="../../../script/control/index/rank/rankmore_frm.js"></script>


<!-- <script src="js/index.js"></script> -->
</head>
<body>
<div class="ranking" style="margin-top:0px" id="info">
   <ul v-for="(bean,index) in list" v-if="bean.srcId == '0'">
     
     <h2 class="ranking_nub01" v-if="index == 0"><img src="../../../image/nunber_01.png">NO.1 <span>来自：{{bean.coterieName}}</span></h2>
     
     <h2 class="ranking_nub02" v-else-if="index == 1"><img src="../../../image/nunber_02.png" >NO.2 <span>来自：{{bean.coterieName}}</span></h2>
     
     <h2 class="ranking_nub03"  v-else-if="index == 2"><img src="../../../image/nunber_03.png">NO.3 <span>来自：{{bean.coterieName}}</span></h2>

     <h2 v-else>NO.{{index+1}} <span>来自：{{bean.coterieName}}</span></h2>
     
     <li @click="experiecepage(bean)">
         <h3><img :src="bean.coverPic"></h3>
         <h4>
           <p class="ranking_tit_p2">{{bean.srcTitle}}</p>
           <p class="ranking_tit_p3"></p><!--预留 -->
           <p class="ranking_tit_p4">赞：{{bean.praisenum}}   评论：{{bean.commentnum}}</p>
         </h4>
       </li>
      
   </ul>
   <ul v-else-if="bean.srcId == '1'">
        <h2 class="ranking_nub01" v-if="index == 0"><img src="../../../image/nunber_01.png">NO.1 <span>来自：{{bean.coterieName}}</span></h2>
     
     <h2 class="ranking_nub02" v-else-if="index == 1"><img src="../../../image/nunber_02.png" >NO.2 <span>来自：{{bean.coterieName}}</span></h2>
     
     <h2 class="ranking_nub03"  v-else-if="index == 2"><img src="../../../image/nunber_03.png">NO.3 <span>来自：{{bean.coterieName}}</span></h2>

     <h2 v-else>NO.{{index+1}} <span>来自：{{bean.coterieName}}</span></h2>
     
     <li @click="questionpage(bean)">
         <h4>
           <p class="ranking_tit_p2">{{bean.srcTitle}}</p>
           <p class="ranking_tit_p3">{{bean.content}}</p>
           <p class="ranking_tit_p4">赞：{{bean.praisenum}}   评论：{{bean.commentnum}}</p>
         </h4>
       </li>
       
   </ul>
   
 </div>

   
</body>
</html>