<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width; initial-scale=1.0;  minimum-scale=1.0; maximum-scale=1.0"/>
<meta name="MobileOptimized" content="320"/>
<title>家庭成员</title>
<link href="../../../css/bootstrap.min.css"  rel="stylesheet" type="text/css"  />
<link href="../../../css/index.css"  rel="stylesheet" type="text/css"  />
<link href="../../../css/public.css"  rel="stylesheet" type="text/css"  />
</head>
<body>
	<div class="main_dynamic main_addfamily" style="margin-top:0px;">
        <ul class="addfriend_ss_list_md addfriend_ss_list_md_del">
            <!-- <li v-for="bean in list"  @click="showFriendInfo(bean.userNo)">
                <div class="addfriend_ss_list_tx">
                <img :src="bean.headPortrait" alt=""  v-if="bean.headPortrait && bean.headPortrait !=''">
                <img src="../../image/nick.png" alt="" v-else>
                </div>
                <div class="addfriend_ss_list_con">
                    <p class="addfriend_ss_list_bz color_01">{{bean.name}}</p>
                    <p class="addfriend_ss_list_nc color_03">昵称：纳尼</p>
                </div>
                <p class="addfriend_ss_list_tjzt addfamily_ss_list_tjzt">爸爸</p>
                <img src="../../../image/jtcy_del.png" class="addfriend_ss_list_md_del_img" alt="" />
            </li> -->
        </ul>
    </div>
    <div class="addfamily_bottom_btn"><img src="../../../image/addfamily_bottom_img.png" alt="" class="addfamily_bottom_btn_img"/>添加成员</div> 

<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/common/common.js"></script>
<script type="text/javascript" src="../../../script/tool/fastclick/fastclick.js"></script>
<script type="text/javascript" src="../../../script/common/path.js"></script>
<script type="text/javascript" src="../../../script/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../../script/tool/vue/vue.min.js"></script>
<script type="text/javascript" src="../../../script/tool/aui_js/aui-dialog.js"></script>
<script type="text/javascript" src="../../../script/control/usercenter/family/my_family.js"></script>
</body>
</html>