<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html style="background:#fff;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width; initial-scale=1.0;  minimum-scale=1.0; maximum-scale=1.0"/>
<meta name="MobileOptimized" content="320"/>
<title>品论详情</title>
<link href="../../../../css/bootstrap.min.css"  rel="stylesheet" type="text/css"  />
<link href="../../../../css/index.css"  rel="stylesheet" type="text/css"  />
<link href="../../../../css/public.css"  rel="stylesheet" type="text/css"  />
<script type="text/javascript" src="../../../../script/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../../../script/tool/fastclick/fastclick.js"></script>
<script type="text/javascript" src="../../../../script/api.js"></script>
<script type="text/javascript" src="../../../../script/common/common.js"></script>
<script type="text/javascript" src="../../../../script/tool/vue/vue.min.js"></script>
<script type="text/javascript" src="../../../../script/common/path.js"></script>
<script type="text/javascript" src="../../../../script/control/lifecircle/experience/info/experieceinfo.js"></script>
</head>
<body style="background:#fff;">
    <div id="info" v-cloak>
    <div class="main_dynamic main_shq_jy" style="margin-top: 0px" >
    	<div class="shq_jy_banimg"><img :src="bean.exCover" alt=""  /></div>
    	<div class="shq_jy_person">
    		<div class="shq_jy_person_tx"><img :src="bean.headpic" alt="" /></div>
    		<div class="shq_jy_person_con">
    			<p class="shq_jy_person_name">{{bean.nickname}}</p>
    			<p class="shq_jy_person_qm">{{bean.signature}}</p>
    		</div>
    		<div class="shq_jy_person_gz" v-if="bean.isFans == '0'" @click="saveUserToFans(bean)"><img src="../../../../image/gzwdr_gz_img.png" alt="" class="shq_jy_person_gz_img" />关注</div>
            <div class="shq_jy_person_gz" v-else-if="bean.isFans == '1'" @click="updateUserToFans(bean)">已关注</div>
    	</div>
        <div class="shq_jy_content">
            <p class="shq_jy_content_title">{{bean.exTitle}}</p>
        </div>
		<div class="shq_jy_content" v-for="listbean in bean.coterieExpConList" v-if="listbean.contentType == '0'">
            <p class="shq_jy_content_buz">{{listbean.content}}</p>
		</div>
        <div class="shq_jy_content" v-else-if="listbean.contentType == '1'">
             <img :src="listbean.content" alt="" class="shq_jy_content_img" />
        </div>
        <div class="shq_jy_content" v-else-if="listbean.contentType == '2'">
             <div class="shq_jy_this_sp">
                <div class="shq_jy_this_sp_pic"><img :src="bean.picture" alt="" /></div>
                <div class="shq_jy_this_sp_con">
                    <p class="shq_jy_this_sp_name">{{listbean.productName}}</p>
                    <p class="shq_jy_this_sp_address"><span class="shq_jy_this_sp_pp">ICART</span>{{listbean.storeName}}</p>
                    <p class="shq_jy_this_sp_price">&yen;{{listbean.nowPrice}}</p>
                </div>
                <div class="shq_jy_this_sp_add">加入ICART</div>
            </div>
        </div>
           
    </div>
    <div class="shq_jy_bottom" >
    	
        <div class="shq_jy_bottom_dz" v-if="bean.isPraise == '0'" @click="pushed(bean,$event)">
            <img src="../../../../image/shq_jy_dz1.png" alt="" class="shq_jy_bottom_dz_img1">{{bean.praisenum}}
        </div>
        <div class="shq_jy_bottom_dz shq_jy_bottom_ydz" v-else-if="bean.isPraise == '1'"><img src="../../../../image/shq_jy_dz2.png" alt="" class="shq_jy_bottom_dz_img1 ">{{bean.praisenum}}
        </div>

    	<div class="shq_jy_bottom_btn" @click="commentpage(bean)">
    		<div class="shq_jy_bottom_img"><img src="../../../../image/shq_jy_pl.png" alt="" /></div>
    		<p class="shq_jy_bottom_font">评论</p>
    	</div>
    	<div class="shq_jy_bottom_btn" style="display: none;">
    		<div class="shq_jy_bottom_img"><img src="../../../../image/shq_jy_ds.png" alt="" /></div>
    		<p class="shq_jy_bottom_font">打赏</p>
    	</div>
    	<div class="shq_jy_bottom_btn" @click="saveCoterieCollect()" v-if="bean.isCollect == '0'">
    		<div class="shq_jy_bottom_img"><img src="../../../../image/shq_jy_sc1.png" alt="" /></div>
    		<p class="shq_jy_bottom_font">收藏</p>
    	</div>
        <div class="shq_jy_bottom_btn" @click="updateCoterieCollect()" v-else-if="bean.isCollect == '1'">
            <div class="shq_jy_bottom_img"><img src="../../../../image/shq_jy_sc2.png" alt="" /></div>
            <p class="shq_jy_bottom_font">已收藏</p>
        </div>
        <div class="shq_jy_bottom_btn"  @click="reportPage()">
            <div class="shq_jy_bottom_img"><img src="../../../../image/jubao.png" alt=""  /></div>
            <p class="shq_jy_bottom_font">举报</p>
        </div>
    </div>
    <div id="reportDiv" class="fixed_tc fixed_tc_zIndex" style="display: none;">
        <div class="friend_index_tc">
            <p class="friend_index_tc_font">举报</p>
            <textarea placeholder="请输入你想举报的内容！"  class="icart_xq_tc_tx" id="report" v-model="report"></textarea>
            <div class="friend_index_tc_btn" @click="reportsave()" style="width:50%; float:left;">确定</div>
            <div class="friend_index_tc_btn" style="width:50%; float:left; background:#f0ab00;" onclick="$('#reportDiv').hide();">取消</div>
        </div>
    </div>
    <!--弹窗-->
    <div class="fixed_tc" style="display: none;">
        <div class="friend_index_tc">
            <p class="friend_index_tc_font shq_jy_tc_font">请输入您的打赏积分数</p>
            <input type="text" class="friend_index_tc_input shq_jy_tc_input" placeholder="可用积分100分" />
            <div class="friend_index_tc_btn">确定</div>
        </div>
    </div>
        
	<script>
		// $(".shq_jy_bottom_dz").click(function(){
		// 	$(this).addClass("shq_jy_bottom_ydz");
		// 	$(this).find(".shq_jy_bottom_dz_img1").addClass("display");
		// 	$(this).find(".shq_jy_bottom_dz_img2").removeClass("display");
		// })
	</script>
    </div>
</body>
</html>