<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width; initial-scale=1.0;  minimum-scale=1.0; maximum-scale=1.0"/>
<meta name="MobileOptimized" content="320"/>
<title>我的好友</title>
<link href="../../../css/bootstrap.min.css"  rel="stylesheet" type="text/css"  />
<link href="../../../css/index.css"  rel="stylesheet" type="text/css"  />
<link href="../../../css/public.css"  rel="stylesheet" type="text/css"  />
</head>
<body>
    <div class="main_dynamic" style="margin-top:0px;" v-cloak>
    	<div class="mine_friend_top color_01"><img src="../../../image/addfriend_img.png" alt="" class="mine_friend_top_img">添加好友</div>
        <ul class="addfriend_fj_list">
            <li v-for="bean in list"  @click="showFriendInfo(bean.userNo)">
                <div class="addfriend_fj_tx"><img :src="bean.headPortrait" alt=""  v-if="bean.headPortrait && bean.headPortrait !=''">
                        <img src="../../image/nick.png" alt="" v-else></div>
                <div class="addfriend_fj_con">
                    <p class="addfriend_fj_name color_01">{{bean.name}}</p>
                    <p class="addfriend_fj_qm color_03">{{bean.signature}}</p>
                </div>
            </li>
        </ul>
    </div>

<script type="text/javascript" src="../../../script/api.js"></script>
<script type="text/javascript" src="../../../script/common/common.js"></script>
<script type="text/javascript" src="../../../script/tool/fastclick/fastclick.js"></script>
<script type="text/javascript" src="../../../script/common/path.js"></script>
<script type="text/javascript" src="../../../script/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../../script/tool/vue/vue.min.js"></script>
<script type="text/javascript" src="../../../script/tool/aui_js/aui-dialog.js"></script>
<script type="text/javascript" src="../../../script/control/usercenter/friend/my_friends.js"></script>
</body>
</html>