<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html style="background:#fff;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width; initial-scale=1.0;  minimum-scale=1.0; maximum-scale=1.0"/>
<meta name="MobileOptimized" content="320"/>
<title>商家页面</title>
<link href="../../css/bootstrap.min.css"  rel="stylesheet" type="text/css"  />
<link href="../../css/index.css"  rel="stylesheet" type="text/css"  />
<link href="../../css/public.css"  rel="stylesheet" type="text/css"  />
<script type="text/javascript" src="../../script/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../script/jquery.spinner.js"></script>
</head>
<body style="background:#fff;">
    <div class="main_dynamic" id="winmsd" style="margin-top: 0;">
    	<template>
	        <ul class="xtxx_list">
	        	<!--传入点击信息的我唯一ID-->
	            <li v-for="bean in winmsdData" @click="registerView(bean.id)">
	            	<!--0是未读,1是已读-->
	                <p class="xtxx_list_title color_01"><img v-if="bean.whetherRead === '0'" src="../../image/xtxx_img.png" alt="" /><span>{{bean.title}}</span></p>
	                <p class="xtxx_list_con color_03">{{bean.content}}</p>
	            </li>
	        </ul>
	    </template>
    </div>
</body>
<script type="text/javascript" src="../../script/api.js" ></script>
<script type="text/javascript" src="../../script/tool/fastclick/fastclick.js" ></script>
<script type="text/javascript" src="../../script/vue.min.js" ></script>
<script type="text/javascript" src="../../script/common/common.js" ></script>
<script type="text/javascript" src="../../script/control/news/winmsd.js"></script>
</html>