<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;  minimum-scale=1.0; maximum-scale=1.0"/>
    <meta name="MobileOptimized" content="320"/>
    <title>ICART商品详情</title>
    <link href="../../css/bootstrap.min.css"  rel="stylesheet" type="text/css"  />
    <link href="../../css/index.css"  rel="stylesheet" type="text/css"  />
    <link href="../../css/public.css"  rel="stylesheet" type="text/css" />
    <style>
        .xing{
            width: 20px !important;
            height: 20px!important;
            background:url("../../image/star1.png") no-repeat center center;
            background-size: cover;
            margin-right:10px;
            border-bottom:0!important;
            float: left;
        }
        .xingBox{
            width:75%;float:right;
            /*margin-top:3px;*/
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="top top_white" style="top:0px;"><img src="../../image/back2.png" alt="" class="top_return" onclick="closeWin()">
        <ul class="icart_gz_list color_01" style="top:15px;">
            <li class="icart_gz_list_border" @click="clickgoods()" >商品</li>
            <li @click="clickevalute()">评价</li>
        </ul>

        <span class="sjxq_top_scimg" onclick="enterConnect()">
            <img src="../../image/sjxq_sc1.png" class="sjxq_top_scimg1" alt="" style="height:22px;"/>
        </span>
        <img src="../../image/ICART.png" class="sjxq_top_scimg002" alt="" onclick="enterIcart()" style="height:22px;"/>
    </div>
    <div class="spxq_con"  v-if="type == 1" >
            <div>
                <div class="spxq_pic" v-if="bean.picture">
                    <img :src="imgPath + bean.picture" alt="" />
                </div>
                <div class="spxq_pic" v-else>
                    <img src="../../image/goodsactive.png" alt="" />
                </div>
                <div class="spxq_spcon icart_xq_tit">
                    <div class="spxq_spcon_left">
                        <p class="spxq_spcon_name color_01">{{bean.name}}</p>
                        <p class="spxq_spcon_price">&yen;<span>{{bean.nowPrice}}</span></p>
                        <p class="spxq_spcon_yh color_03">
                            <span v-if="bean.type=='0'">满减</span>
                            <span v-else-if="bean.type=='1'">促销</span>
                            <span v-else></span>
                            {{bean.themeName}}
                        </p>
                    </div>
                    <div class="spxq_spcon_right share" @click="shareInit(bean)">
                        <img src="../../image/share2.png" alt="" class="spxq_spcon_share_img"/>
                        <span class="spxq_spcon_share color_05">分享</span>
                    </div>
                    <p class="icart_xq_rens">{{bean.addIcartNum}}人<img src="../../image/list_shopcat.png" /></p>
                </div>

                <div class="spxq_dpcon">
                    <div class="spxq_dpcon_pic"><img :src="storeMsg.picture" alt="" /></div>
                    <div class="spxq_dpcon_dm icart_xq_topd">
                        <p class="spxq_dpcon_name color_01">{{storeMsg.name}}</p>
                        <p class="icart_xq_di_qm color_03"><img src="../../image/icart_xq_di.png" class="icart_xq_di"/>{{storeMsg.address}}</p>
                    </div>
                </div>
                <ul class="spxq_dpcon_list">
                    <li>
                        <p class="spxq_dpcon_list_num color_02">{{storeMsg.storeNum}}人</p>
                        <p class="spxq_dpcon_list_font color_03">收藏</p>
                    </li>
                    <li>
                        <p class="spxq_dpcon_list_num color_02">{{storeMsg.ProductNum}}件</p>
                        <p class="spxq_dpcon_list_font color_03">商品</p>
                    </li>
                    <li>
                        <p class="spxq_dpcon_list_num color_02" v-if="storeMsg.storeAvgEvaluationScore!=''"><b>10</b>分</p>
                        <p class="spxq_dpcon_list_num color_02" v-else><b>10</b>分</p>
                        <p class="spxq_dpcon_list_font color_03">评分</p>
                    </li>
                </ul>
                <div class="icart_xq_canshu">
                    <p>产品参数</p>
                    <ul>
                        <li>规格：{{bean.weight}}</li>
                        <li>产地：{{bean.placeofproduction}}</li>
                        <li>功能：{{bean.description}}</li>
                    </ul>
                </div>
               <!-- <div class="spxq_font color_05">
                    <img src="../../image/spxq_img.png" alt="" />
                    商品详情
                </div>
                <div class="spxq_content color_01">
                    <img :src="bean.images" alt="" />
                </div>-->
            </div>
    </div>
    <div class="icart_pingjia"  v-else>
        <div class="icart_pingjia_tit">
            综合评分：
            <div class="xingBox">
                <!--<div class="xing"></div>-->
            </div>
        </div>
        <ul class="valute">
            <li v-for="productEvaluation in productEvaluationlist">
                <h3><img :src="productEvaluation.headPortrait" /></h3>
                <h4>
                    <p class="icart_pingjia_p2">{{productEvaluation.userName}}<span>{{productEvaluation.createDate}}</span></p>
                    <p class="icart_pingjia_p3">{{productEvaluation.content}}</p>
                </h4>
            </li>
        </ul>
    </div>
</div>

<div class="spxq_bottom" id="checkIcart">
    <div class="spxq_bottom_choose" onclick="enterserviceOnlines()">
        <img src="../../image/kefu.png" alt="" />
        <span class="spxq_bottom_choose_font color_03">客服</span>
    </div>
    <div class="spxq_bottom_choose" @click="enterSupermarket()">
        <img src="../../image/spxq_dp_img.png" alt="" />
        <span class="spxq_bottom_choose_font color_03">店铺</span>
    </div>
    <div class="spxq_bottom_choose spxq_bottom_sc">
        <span>
            <img src="../../image/sjxq_sc1.png" alt="" class="" @click="clickCollect()" v-if="resultCollect == 1">
            <img src="../../image/sjxq_sc2.png" alt="" @click="clickCannleCollect()" v-else >
        </span>
        <span class="spxq_bottom_choose_font color_03">收藏</span>
    </div>
    <div class="spxq_bottom_yy"  @click='clickIcart()' v-if="resultIcart == 1">想买</div>
    <div class="spxq_bottom_yy" @click="clickCannelIcart()" style="background:#ccc;" v-else >想买</div>
</div>

<!--弹窗-->
<!--<div class="fixed_tc">
    <div class="friend_index_tc">
        <p class="friend_index_tc_font">添加成功</p>
        <textarea placeholder="给家里人捎句话吧！您的家人可以在家庭ICART清单中看到哟！" class="icart_xq_tc_tx"></textarea>
        <div class="friend_index_tc_btn">确定</div>
    </div>
</div>-->
<script type="text/javascript" src="../../script/common/path.js"></script>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/tool/fastclick/fastclick.js"></script>
<script type="text/javascript" src="../../script/common/common.js"></script>
<script type="text/javascript" src="../../script/jquery.js"></script>
<script type="text/javascript" src="../../script/vue.min.js"></script>
<script type="text/javascript" src="../../script/control/beanDetail/beanDetail.js"></script>
</body>
</html>